.tarefas-finalizadas {
    width: 100%;
    height: 100vh;
}

.content-tarefas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 100%;
    background: #243241;
    height: 100%;
    border: 2px solid #fffff0;
    border-radius: 8px;
    padding: 10px;
}

.tarefas-fin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 99%;
    background: #fffff0;
    height: 100%;
    border: 2px solid #243241;
    border-radius: 8px;
    padding: 10px;
}

.tarefas-familia {
    width: 350px;
    height: 100%;
    padding: 10px;
    border: 2px solid #243241;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.3);

}

.tarefas-trabalho {
    width: 350px;
    height: 100%;
    padding: 10px;
    border: 2px solid #243241;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.tarefas-lazer {
    width: 350px;
    height: 100%;
    padding: 10px;
    border: 2px solid #243241;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.tarefas-estudos {
    width: 350px;
    height: 100%;
    padding: 10px;
    border: 2px solid #243241;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 12px rgba(0, 0, 0, 0.3);
}