@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&family=Montserrat:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.main-content {
    flex: 1;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 5px 20px 20px 20px;
}

.todo {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fffff0;
    font-size: 30px;
}

.sideTitle {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    padding: 10px;
    background: #243241;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-right: 1px solid #fffff0;
    position: relative;
}

.sidebar ul .user {
    position: relative;
}

.sidebar ul .user a {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar ul .user::before {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #fffff0;
    position: absolute;
}

.sidebar ul .user::after {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: #fffff0;
    position: absolute;
}

.fa-circle-user {
    font-size: 25px;
}

.divLogout {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.divLogout ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divLogout .listLogout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.sidebar ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    white-space: nowrap;
    color: #fffff0;
    list-style: none;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.sidebar ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px 10px 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
    padding: 20px 20px 20px 10px;
    width: 100%;
    gap: 15px;
}

.sidebar ul li a:hover {
    width: 100%;
    background: rgba(122, 122, 122, 0.4);
    border-radius: 7px;
}

.divTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.helloUser {
    width: 100%;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
}

.divInputTarefas {
    width: 100%;
}

.form-tarefas {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
    position: relative;
}

.form-tarefas .messages {
    position: absolute;
    bottom: -60%;
    left: -20px;
    margin: 0 50px 50px 50px;
    width: 350px;
    padding: 10px;
    border: 1px solid #fffff0;
    border-radius: 8px;
    margin: 0 auto;
    background: #243241;
    color: #fffff0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.form-tarefas .messages:empty {
    opacity: 0;
    padding: 0;
    margin: 0;
    border: none;
    transform: translateX(-100%);
}

.divContent {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.input-tarefas {
    width: 70%;
    height: 64px;
    padding: 15px;
    border: 1px solid #243241;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.input-tarefas::placeholder {
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;

}

.input-tarefas:focus {
    outline: none;
    border: 2px solid #252525;
}

.select-categoria {
    padding: 15px 19px;
    border: 1px solid #252525;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
    color: #757575;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
}

.photostyle {
    margin-top: 8%;
}

.divButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

.BtnSubmit {
    border: none;
    border: 1px solid #252525;
    border-radius: 8px;
    padding: 12px 35px;
    color: #fffff0;
    background: #243241;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 18px;
    box-shadow: 0 2px 6px #252525;
    cursor: pointer;
    text-transform: uppercase;
}

.BtnSubmit:hover {
    border-color: #fffff0;
}

.BtnSubmit:active {
    transform: scale(0.97);
}

.divTitle p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.divTarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    margin-top: 70px;
}

.lista-de-tarefas {
    width: 99%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 10px;
}

.tarefa-item {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid #243241;
    border-radius: 7px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    font-style: normal;
    color: #243241;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.tarefa-item span {
    overflow-wrap: break-word;
    width: 400px;
}

.row-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.btnEdit {
    border: none;
    border: 1px solid #252525;
    border-radius: 8px;
    padding: 5px 15px;
    color: #fffff0;
    background: #243241;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    box-shadow: 0 2px 6px #252525;
    cursor: pointer;
}

.btnDelete {
    border: none;
    border: 1px solid #930707;
    border-radius: 8px;
    padding: 5px 15px;
    color: #fffff0;
    background: #930707;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    box-shadow: 0 2px 6px #252525;
    cursor: pointer;
}

.btnCheck {
    border: none;
    border: 1px solid #0faf35;
    border-radius: 8px;
    padding: 5px 15px;
    color: #fffff0;
    background: #0faf35;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    box-shadow: 0 2px 6px #252525;
    cursor: pointer;
}

.divTarefasTop {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 20px;
    padding: 10px 10px 10px 0;
}

.divTarefasBottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 20px;
    padding: 10px 10px 10px 0;
}

.title-tarefa {
    margin-top: 5px;
    text-align: center;
}

.title-tarefa h1 {
    font-size: 40px;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    color: #243241;
    border-bottom: 2px solid #243241;
    white-space: nowrap;
}

.divTarefasF {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background: #d9d9d9;
    border: 1px solid #243241;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.divTarefasF:hover,
.divTarefasT:hover,
.divTarefasL:hover,
.divTarefasE:hover {
    transform: scale(1.01);
    border: 2px solid #243241;
}

.divTarefasF::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('../img/familia.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.divTarefasT {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background: #d9d9d9;
    border: 1px solid #243241;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.divTarefasT::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('../img/trabalho.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 7px;
}

.divTarefasL {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background: #d9d9d9;
    border: 1px solid #243241;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.divTarefasL::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('../img/lazer.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 7px;
}

.divTarefasE {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background: #d9d9d9;
    border: 1px solid #243241;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.divTarefasE::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('../img/estudos.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 7px;
}

.buttonToggle {
    cursor: pointer;
}

.sidebar.sidebar-light {
    background: #B0C4DE;
}

.sidebar.sidebar-light ul li a {
    color: #243241;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.btnSubmit-light {
    background: #B0C4DE;
    color: #243241;
}

.categorias-light {
    background: #B0C4DE;
}

.categorias-light h1 {
    color: #243241;
}