@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Montserrat:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #f2f5f7, #a9c2d9);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 650px;
    max-width: 100%;
    background: #FAF9F6;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

h1 {
    font-family: "Montserrat", sans-serif;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.50);
    margin-top: 90px;
    font-size: 35px;
}

.to-do-list {
    width: 350px;
    height: 105px;
    text-align: center;
    padding: 15px;
    margin: 0;
    margin-top: 10px;
    border: 4px solid;
    border-radius: 80px;
    font-family: "Jomhuria", serif;
    font-size: 80px;
    box-shadow: -1px 1px 5px 2px rgba(206, 204, 204, 0.8);
    color: #B0C4DE;
    text-transform: uppercase;
    font-weight: normal;
    position: absolute;
    top: 15px;
}

.login {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 20px;
    padding: 20px;
    z-index: 2;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.container.cadastro.active .panel-active {
    transform: translateX(100%);
}

.active1.login {
    transform: translateX(100%);
}

.cadastro {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    z-index: 1;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.container.active .panel-active {
    transform: translateX(-100%);
}

.active1.cadastro {
    transform: translateX(-100%);
}

.panel-active {
    padding: 20px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #B0C4DE;
    z-index: 0;
    transition: transform 0.6s ease;
}

.panel-active h1 {
    color: #fff;
    margin-top: 120px;
}

.panel-active p {
    font-size: 17px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    line-height: 1.4;
}

.cadastro-content {
    inset: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 40px;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s ease, transform 1.5s ease;
    font-family: "Poppins", sans-serif;
    height: 100%;
    background: #B0C4DE;
    z-index: 0;
    transition: opacity 2 ease-in-out;
}

.login-content h1 {
    margin-top: 0;
}

.login-content {
    inset: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 40px;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s ease, transform 1.5s ease;
    font-family: "Poppins", sans-serif;
    height: 100%;
    background: #B0C4DE;
    z-index: 0;
    transition: opacity 2 ease-in-out;
}

.container.active .cadastro-content {
    opacity: 1;
    pointer-events: all;
}

.container.active .login-content {
    opacity: 0;
    pointer-events: none;
}

.container:not(.active) .login-content {
    opacity: 1;
    pointer-events: all;
}

.container:not(.active) .cadastro-content {
    opacity: 0;
    pointer-events: none;
}

.signIn,
.signUp {
    padding: 12px;
    width: 150px;
    border: 1px solid #fff;
    border-radius: 12px 45px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background: #B0C4DE;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
    transition: all 2s ease;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    margin-top: 20px;
}

.signIn:hover,
.signUp:hover {
    animation: transform 2s forwards;
    transform: scale(1.05);
}

.social-icon {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.social {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
    transition: 80ms ease-in;
    font-size: 20px;
    margin-bottom: 15px;
}

.icon-f {
    background-color: transparent;
    color: black;
    padding: 15px;
    text-align: center;
}

.icon-f:hover {
    color: #1877f2;
}

.icon-t {
    background-color: transparent;
    color: black;
    padding: 15px;
    text-align: center;

}

.icon-t:hover {
    color: #1da1f2;
}

.icon-l {
    background-color: transparent;
    color: #0077b5;
    color: black;
    padding: 15px 16.25px;
    text-align: center;
}

.icon-l:hover {
    color: #0077b5;

}

.social:hover {
    transform: scale(1.10);
}

.social a {
    text-decoration: none;
}

.cadastro,
.login form {
    gap: 20px;
}

.cadastro label {
    font-size: 15px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-control {
    position: relative;
    width: 100%;
    margin-left: 120px;
}

label {
    position: absolute;
    top: 17px;
    left: 15px;
    color: #757272;
    background: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}

.cadastro input:focus {
    outline: none;
    border-color: #80bee5;
}

.input-control input:focus+label,
.input-control input:not(:placeholder-shown)+label {
    top: -6px;
    color: #0077b5;
    font-size: 15px;
}

.input-control input:not(:focus)+label {
    color: #757272;
}

.login input:focus {
    outline: none;
    border-color: #80bee5;

}

.login label {
    font-size: 15px;
}

.login input {
    width: 77%;
    background: #fff;
    border-radius: 6px;
    padding: 12px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

input::placeholder {
    font-size: 15px;
}

.cadastro input {
    width: 80%;
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.forgot {
    color: #928d8d;
    font-size: 16px;
}

.forgot a {
    text-decoration: none;
    color: #928d8d;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    background-image: linear-gradient(to right, #3B82F6, #3B82F6 50%, #6B7280 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.4s ease-in-out;
}

.forgot a:hover {
    background-position: 0 0;
}

.notHaveAccount {
    width: 80%;
    text-align: right;
}

.submit,
.submit1 {
    padding: 12px;
    width: 150px;
    border: none;
    border-radius: 12px 45px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(175, 197, 218, 1) 0%, rgba(192, 200, 207, 1) 35%, rgba(101, 158, 215, 1) 100%);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
    transition: all 2s ease;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

.submit:hover,
.submit1:hover {
    transform: scale(1.05);
    animation: transform 2s forwards;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}

.submit:active,
.submit1:active {
    transform: scale(0.90);
}

.submit:focus,
.submit1:focus {
    outline: none;
}

.login .form-messages.success {
    width: 90%;
    border-radius: 5px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    background-color: #B0C4DE;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 17px;
}

.form-cadastro-message.error {
    width: 90%;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #930707;
    color: #fff;
    border: 1px solid #252525;
    padding: 10px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.login .form-messages.error {
    width: 90%;
    border-radius: 5px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    background-color: #930707;
    color: #fff;
    border: 1px solid #000;
    padding: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}



@keyframes transform {
    0% {
        border-radius: 12px 45px;
    }

    50% {
        border-radius: 45px 12px;
    }

    100% {
        border-radius: 45px 12px;
    }
}